* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 100px ;
  background: url(https://images.unsplash.com/photo-1501139083538-0139583c060f?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) no-repeat;
  background-size: cover;
}

.promo {
  width: 80%;
  height: 200px;
  border-radius: 10px;
  background-color: rgba(240, 69, 237, 0.6);
  padding: 10px;
  box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  justify-content: center;
  display: flex;
  flex-direction: column;

}

h1 {
  text-align: center;
  font-size: 40px;
  color: #fff;
  margin-bottom: 20px;
}

#countdown {
  background-color: rgba(0, 0, 0, .4);
  padding: 10px;
  font-size: 30px;
  color: white;
  border-radius: 5px;
  text-align: center;
  margin: 0px;

}