* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 100px ;
  background: url(https://images.unsplash.com/photo-1708876954270-8fad10609e53?q=80&w=1217&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) no-repeat;
  background-size: cover;
}

h1 {
  font-size: 55px;
  color: #fff;
  line-height: 2;
}

#countdown {
  background-color: rgba(0, 0, 0, .4);
  padding: 10px;
  font-size: 45px;
  color: white;
  border-radius: 5px;

}